<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"FurnitureStore",
  "image": [
  "https://camugo.com.br/assets/img/camugo_localbusiness.jpg"
  ],
  "@id":"http://camugo.com.br/",
  "name":"Camugo",
  "address":{
  "@type":"PostalAddress",
  "streetAddress":"Rua Thales dos Santos Freire, 480, Baeta Neves",
  "addressLocality":"São Bernardo do Campo",
  "addressRegion":"SP",
  "postalCode":"09751-020",
  "addressCountry":"BR"
  },
  "geo":{
  "@type":"GeoCoordinates",
  "latitude":23.6889299,
  "longitude":46.5483884
  },
  "telephone":"+551144255004",
  "openingHoursSpecification": [
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday"
    ],
    "opens": "09:00",
    "closes": "18:00"
  }
]

}
</script>