---
layout: default
---

<div class="container">
  <section class="intro">
    <div class="row">
      <div class="col-md-5">
          <img class="img-fluid mb-3" src="{{ "/assets/img/camugo_localbusiness.jpg" | absolute_url }}" alt="Seja uma parceria">
        </div>
        <div class="col-sm">
          <h5 class="text-uppercase"><b>A Camugo</b></h5>
          <p>Em Novembro de 2017 a Camugo completou 10 anos de mercado. Hoje contamos com uma equipe de vendedores que atendem o cliente em sua total necessidade e com a grande facilidade do sistema "ligou, chegou".</p> 
          <p>Trabalhamos com tabela de distribuição de mercadoria diretamente aos fabricantes e vendas no atacado. </p>
          <p>O grande diferencial da Camugo é e sempre foi, o serviço de visita e entrega de material, coisa que nenhuma outra loja concorrente
            da região faz.</p>
          <blockquote class="blockquote">
            <p> Qualidade, atendimento e agilidade!</p>
          </blockquote>
      </div>
    </div>
  </section>

  <section>
    <div class="heading-home">
      <h3>Nossa História</h3>
    </div>

    <div class="timeline col-sm-10 offset-sm-1">
      <div class="row">
        <div class="milestone col-sm-6 ml-auto">
          <h4>1980</h4>
          <p>A História da Camugo começou a 30 anos atrás, através de um representante comercial em um canto pequeno de uma marcenaria.
          Mas com um bom serviço e desde sempre trabalhando para trazer os melhores fornecedores, conseguiu reunir o suficiente para
          lançar o seu próprio nome no Pólo Moveleiro Nacional.</p>
        </div>
      </div>
      <div class="row">
        <div class="milestone col-sm-6 mr-auto text-right">
          <h4>
            2007
          </h4>
          <p>Em pouco tempo o depósito ficou pequeno, e então surge a primeira loja física. Com mais espaço, uma nova sedfe e mais vendedores, foi possível expandir a linha de ferragens, e passamos a distribuir corrediças, dobradiças, parafusos, os químicos seladoras
          vernizes, thinneres, adesivos de contato. Além de uma ampla diversidade de acessórios (cantoneiras, suportes de prateleira, tapa furos, passa fios, aramados, rodízios...). </p>
        </div>
      </div>
      <div class="row">
        <div class="milestone col-sm-6 ml-auto">
          <h4>
            2010
          </h4>
          <p>Começamos a perceber tambem que facilmente tínhamos capacidade de atender não só as marcenarias, mas como também as tapeçarias.</p>
        </div>
      </div>
      <div class="row">
        <div class="milestone col-sm-6 mr-auto text-right">
          <h4>
            2015
          </h4>
          <p>Com 8 anos de loja, começamos uma nova batalha: a construção da sede própria.</p>
        </div>
      </div>
      <div class="row">
        <div class="milestone col-sm-6 ml-auto">
          <h4>
            2017
          </h4>
          <p>Já há um ano estamos planejando e estruturando a importação de ferragens, a nova fase da Camugo.</p>
        </div>
      </div>
    </div>
  </section>
</div>

