---
layout: default
---

<div class="container">
  <section class="intro">
    
    <div class="row">
      <div class="col-sm">
        <img class="img-fluid mb-3" src="{{ "/assets/img/camugo_contact.jpg" | absolute_url }}" alt="Entre em contato"> 
        <b>Localização</b>
        <address>
           Rua Thales dos Santos Freire, 480 <br>
           Baeta Neves <br>
           São Bernardo do Campo, SP <br>
           <br>
           Telefone: (11) 4425-5004
        </address>
      </div>
      <div class="col-sm">
        <h3>Fale Conosco!</h3>
        <p>Deseja conhecer mais sobre nossos fornecedores e produtos? Deixe uma mensagem que um de nossos atendentes entrará em contato em breve!</p>
        <form name="contactForm" action="mailto:caroline.mguilherme@gmail.com" method="post" enctype="text/plain">
          <div class="form-group">
            <label for="subject">Título da mensagem</label>
            <input id="subject" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="message">Escreva sua mensagem</label>
            <textarea class="form-control" id="message" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="name">Escreva o seu nome</label>
            <input id="name" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Deixe o seu email para contato</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>