---
layout: default
---
<section id="bannersHome">
  <div id="carroselControls" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
    {% for banner in site.data.banners %}
   
    <div class="carousel-item {% if banner == site.data.banners[0] %} active {% endif %}">
      <img class="d-block w-100" src="{{ banner.img_path | absolute_url }}" alt="{{ banner.cta }}">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ banner.title }}</h5>
        <p>{{ banner.description }}</p>
        <a href="{{ banner.cta_path | relative_url }}" class="btn btn-primary">{{ banner.cta }}</a>
      </div>
    </div>
    {% endfor %}  
    </div>
    
    <a class="carousel-control-prev" href="#carroselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
    <a class="carousel-control-next" href="#carroselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
  </div>
</section>

<section class="mt-4">
  <div class="container">
    
    <div class="heading-home">
      <h3>Linhas de produtos que oferecemos</h3>
    </div>

    <div class="card-deck card-home">
      {% for category in site.categories limit:4 %}
      {% if category.image_path %}
      <div class="card">
        <div class="card-body"> 
          <h5 class="card-title">
            <a href="{{ category.url | relative_url }}">{{ category.title }}</a>
          </h5>
          <p class="card-text">{{ category.description }}</p>
        </div>
        <img class="card-img-bottom mb-3" src="{{ category.image_path | absolute_url }}" alt="{{ category.title }}">
        <div class="card-footer">
            <a href="{{ category.url | relative_url }}" class="btn btn-secondary btn-block">Explore os Produtos</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</section>


<section class="mt-4">
  <div class="container">
    <div class="heading-home">
      <h3>Produto em Destaque</h3>
    </div>
    {% for product in site.products %}
      {% if product.featured %}
        <div class="row">
          <div class="col-sm-4 mb-3 mb-lg-0 mb-md-0">
            <img class="img-fluid" src="{{ product.images.first.image_path | absolute_url }}" alt="">
          </div>
          <div class="col">
            <h5><a href="#">{{ product.title }}</a></h5>
            <p>{{ product.description }}</p>
            <a href="{{ product.url | relative_url }}" class="btn btn-primary">Ver Detalhes</a>
          </div>
        </div>
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="mt-4">
  <div class="container">
    <div class="heading-home">
      <h3>Parcerias</h3>
    </div> 
    <div class="row">
      <div class="col mr-auto">
        <p class="lead">Qualidade do produto, capacidade de atendimento e um forte compromisso com a sustentabilidade são os critérios para nossas parcerias</p>
        <p>Contamos com fornecedores selecionados para trazer as melhores novidades aos nossos clientes.</p>
        <a href="{{ "/parcerias" | relative_url }}" class="btn btn-primary">Conheca nossas parcerias</a>
      </div>
      <div class="col-md-5 mt-3 mt-lg-0 mt-md-0">
        <img class="img-fluid" src="{{ "/assets/img/home_partners.jpg" | absolute_url }}" alt="">
      </div>
    </div>
  </div>
</section>
