--- 
layout: default 
---
<nav class="breadcrumb-container mb-0">
  <div class="breadcrumb-bg-secondary">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page">
          <a href="{{ "/produtos" | relative_url }}">Produtos</a>
        </li>
        <li class="breadcrumb-item " aria-current="page">
          <a href="{{ page.category_url | relative_url }}">{{ page.category }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
      </ol>
    </div>
  </div>
</nav>


<div class="container">
  <article itemscope itemtype="http://schema.org/Product">
    <div class="row">

      <div class="col-6">
      {% assign images = page.images %} 
      {% if images %}
        <div id="sliderProductImage" class="product-carousel carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for image in images %}
            <div class="carousel-item {% if image == images.first %} active {% endif %}">
              <img class="d-block w-100" src="{{ image.image_path | absolute_url }}" alt="{{ image.title }}">
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="carousel-thumbnails d-flex justify-content-center">
          {% for image in images %}
          <a href="#" data-target="#sliderProductImage" data-slide-to="{{ forloop.index0 }}" {% if image == images.first %} class="active" {% endif %}>
            <img {% if image == images.first %} itemprop="image" {%endif %} class="img-thumbnail" src="{{ image.image_path | absolute_url }}" alt="{{ image.title }}">
          </a>
          {% endfor %}
        </div>
      {% endif %}
      </div>

      <div class="col-6">
        <h1 class="text-uppercase"><span itemprop="name">{{ page.title }}</span></h1>
        <strong>Fabricante: </strong><span itemprop="brand">{{ page.partner }}</span>
        <p><span itemprop="description">{{ page.description }}</span></p>
        {{ content }}
      </div>

    </div>
    </article>

</div>