--- 
layout: default 
---

<nav class="breadcrumb-container mb-0">
  <div class="breadcrumb-bg-secondary">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page">
          <a href="{{ "/produtos/" | prepend: site.baseurl }}">Produtos</a>
        </li>
        <li class="breadcrumb-item " aria-current="page">
          <a href="{{ "/produtos/" | prepend: site.baseurl }}{{ page.categories[0] | downcase  }}">{{ page.categories[0] }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
      </ol>
    </div>
  </div>
</nav>


<div class="container">
  <article itemscope itemtype="http://schema.org/Product">
    <div class="row">

      <div class="col-6">
      {% assign images = page.images %} 
      {% if images %}
        <div id="sliderProductImage" class="product-carousel carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for image in images %}
            <div class="carousel-item {% if image == images.first %} active {% endif %}">
              <img class="d-block" src="{{ image.image_path | absolute_url }}" alt="{{ image.title }}">
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="carousel-thumbnails d-flex justify-content-center">
          {% for image in images %}
          <a href="#" data-target="#sliderProductImage" data-slide-to="{{ forloop.index0 }}" {% if image == images.first %} class="active" {% endif %}>
            <img {% if image == images.first %} itemprop="image" {%endif %} class="img-thumbnail" src="{{ image.image_path | absolute_url }}" alt="{{ image.title }}">
          </a>
          {% endfor %}
        </div>
      {% endif %}
      </div>

      <div class="col-6">
        <h1 class="text-uppercase"><span itemprop="name">{{ page.title }}</span></h1>
        {% if page.partner %}
        <strong>Fabricante: </strong><span itemprop="brand">{{ page.partner }}</span>
        {% endif %}
        <p><span itemprop="description">{{ page.description }}</span></p>
        {{ content }}
      </div>

    </div>
    </article>

    
    {% assign num = 0 %}
    {% for product in site.products %}
      {% if product.title == page.title %}
        {% assign num = forloop.index %} 
        {% if forloop.rindex <= 3 %}
          {% assign num = 0 %}
        {% endif %} 
        {% break %}
      {% endif %}
    {% endfor %}
    
    <section>
      {% for product in site.products limit:1 offset:num %}
      {% if product.categories contains page.categories[0] %}
        <hr>
        <h3>Produtos Relacionados</h3>
        {% endif %}
        {% endfor %}

        <div class="card-deck">

        {% for product in site.products limit:3 offset:num %}
          {% if product.categories contains page.categories[0] %}
            <div class="card col-lg-4 col-md-4">
              <img class="card-img-top mb-3" src="{{ product.images[0].image_path | absolute_url }}" alt="{{ product.title }}">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="{{ product.url | relative_url }}">{{ product.title }}</a>
                </h5>
                <p class="card-text">{{ product.description }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}

      </div>

    </section>

</div>